/* Dark purple: #4e426d  
  #5c4f81
  Light Purple: #8675A9*/

.app{
  display: grid;
  place-items: center;    
  background-color:  #FDF6F0 ;
  height: 100vh;
}


.app_container{
  background-color: #4e426d;
  border-radius: 2vh;
}

.app_body{
  display: flex;
  background-color: #4e426d;
  height: 85vh;
  width: 90vw;
  /* margin-top: -50px; */
  /* box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.2); */
  border-radius: 2vh;
}

.navBar_container{
  padding-top: 3vh;
  padding-bottom: 0.5vh;
}

